body {
  margin: 0;
  line-height: 1.5;
  font-family: 'Arial';
  padding: 4rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('/Users/jasmine/FEND/1/MiligramBlog/images/aesthetic-botanical-leaves-plants-vector-yztrp30cyybt6ono.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.wrapper {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-areas:
    "nav header"
    "sidebar main"
    "sidebar footer";
  grid-gap: 1rem;
  flex-grow: 1;
  padding: 1rem;
}

header {
  grid-area: header;
  align-content: center;
  margin-bottom: 1rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 2.37fr 1fr;
  grid-gap: 1rem;
  min-height: 0;
  grid-area: main;
}

aside {
  font: 1.5em sans-serif;
  grid-area: sidebar;
}

footer {
  grid-area: footer;
  display: grid;
  max-height: 10%;
  margin-top: auto;
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}

#featured {
  border: solid darkgrey;
  background-color: rgba(124, 176, 129, 0.5);
  color: white;
  padding: 5%;
  min-height: 100%;
}

.title {
  font-size: 250%;
}

.non-featured {
  border: 1px solid darkgrey;
  margin: 5%;
  padding: 10%;
}

#button {
  background-color: rgb(124, 176, 129);
  border-color: darkgray;
}

#navi a:link {
  color: rgb(124, 176, 129);
}

#navi a:visited {
  color: rgb(124, 176, 129);
}

#navi a:hover {
  color: rgb(124, 176, 129);
  background-color: gray;
}

@media screen and (min-width: 768px) {
  .container {
    grid-template-areas:
      "hd hd"
      "sb main"
      "footer";
    grid-template-columns: 200px 1fr;
    margin: 20px auto;
  }
}
