html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-areas:
    "header header"
    "sidebar main"
    "sidebar footer";
  grid-gap: 1rem;
}

header {
  align-content: center;
  grid-area: header;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}


aside {
  grid-row: sidebar;
}

footer {
  grid-column: footer;
}

aside,
main {
 grid-gap: 1rem;
  min-height: 300px;
}

body {
  background: #fafafa;
  line-height: 1.5;
  font-family: 'Arial';
  padding: 4rem;
}

* {
  box-sizing: border-box;
}
